/*font-family: 'Alfa Slab One', cursive;
font-family: 'Suez One', serif;
font-family: 'Libre Baskerville', serif;*/

body {
background-color: #eae2b7; /*Beige*/

}
header {
  /* background-color: #d62828; /*Red*/
  /* I changed this to be a gradient of the color for better aesthetics */
  background: rgb(214,40,40);
  background: linear-gradient(90deg, rgba(214,40,40,1) 0%, rgba(222,73,73,1) 50%, rgba(214,40,40,1) 100%);
  padding-bottom: 1.2em;
}
h1 {
  font-family: 'Alfa Slab One', cursive;
  color: #eae2b7; /*Beige*/
}
h2 {
  font-family: 'Suez One', serif;
  color: #3c6840; /*Dark Green*/
}
h3 {
  font-family: 'Suez One', serif;
  color: #3c6840; /*Dark Green*/
}
h4 {
  font-family: 'Suez One', serif;
  color: #3c6840; /*Dark Green*/
}
p {
  font-family: 'Libre Baskerville', serif;
  color: #003049; /*Dark Blue*/
  line-height: 1.8em;
}
ul li a {
  font-family: 'Suez One', serif;
  background-color: #3c6840; /*Dark Green*/
   border-radius: .8em; /*round the corners on the nav items*/
   text-decoration: none; /*remove default underlines from links*/
   padding: .4em .6em;
   margin: 0em;

   font-size: 1.2em;
   color: #eae2b7; /*Beige*/
}
/*For the contact page*/
ul li {
  font-family: 'Suez One', serif;
  background-color: #3c6840; /*Dark Green*/
    border-radius: .8em; /*round the corners on the nav items*/
    padding: .4em .6em;
    margin: 0em;
    text-align: center;

   font-size: 2em;
   color: #eae2b7; /*Beige*/
}
/*For the contact page*/
ul {
  background-color: none;
margin-top: 1em;
margin-bottom: .5em;
margin-left: 0em;
}
li {
  display: inline-block;
       display:inline;
       margin-right: .8em;
}
.cen {
  text-align: center;
}
.date-up{
  margin-top: 1em;
  margin-bottom: 0em;
}

.beNormalMyDearStickyNavButtons {
padding: 0em;
font-size: 1em;

}

.width {
  width: 100%;

}
